/*
html {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}

body {
    margin: 0;
    background: rgb(45, 40, 62);
    display: flex;
    height: 100%;
}

#root,
#root > div {
    height: 100%;
    min-height: 100%;
    width: 100%;
}
*/

body {
    background-color: rgba(0, 0, 0, 0.274);
    display: flex;
    flex-direction: column;
}

.container-header {
    width: 100%;
    outline: 5px solid green;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.63);
}

.container-title {
    outline: 1px solid orange;
}

.container-board {
    display: flex;
    justify-content: center;
    position: relative;
}

.inner-container-board {
    /*outline: 10px solid purple;*/
    position: relative;
}

.board {
    border-spacing: 0;
    border-collapse: collapse;
    line-height: 0;
    z-index: 0;
    height: calc(var(--table-cell-side) * 8);
    width: calc(var(--table-cell-side) * 8);
}

.light {
    background-color: rgb(240, 217, 181);
    color: rgb(181, 136, 99);
    font-weight: 800;
}

:root {
    --table-cell-side: 60px;
    --piece-width: calc(var(--table-cell-side));
    --piece-height: calc(var(--table-cell-side));
    --init-top: 2px;
}

.piece {
    position: absolute;
    width: var(--piece-width);
    height: calc(var(--piece-height) + var(--init-top));
    z-index: 1;
    top: var(--init-top);
    background-size: contain;
    background-repeat: no-repeat;
}

.black-king {
    background-image: url("./images/bK.svg");
}

.black-queen {
    background-image: url("./images/bQ.svg");
}
.black-bishop {
    background-image: url("./images/bB.svg");
}
.black-rook {
    background-image: url("./images/bR.svg");
}
.black-knight {
    background-image: url("./images/bN.svg");
}
.black-pawn {
    background-image: url("./images/bP.svg");
}

.white-king {
    background-image: url("./images/wK.svg");
}

.white-queen {
    background-image: url("./images/wQ.svg");
}
.white-bishop {
    background-image: url("./images/wB.svg");
}
.white-rook {
    background-image: url("./images/wR.svg");
}
.white-knight {
    background-image: url("./images/wN.svg");
}
.white-pawn {
    background-image: url("./images/wP.svg");
}

/*
.mouse-over:active {
    box-shadow: inset 1px 1px 3px black, inset -1px 0px 3px black, inset 0px -1px 3px black;
}
*/

.draggable:hover {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
/* ----- */

.empty {
    display: inline-block;
    position: relative;
    height: 500px;
    width: 500px;
    background-color: white;
    /*overflow: hidden;*/
}

/*
.empty:hover {
    outline: 3px dotted black;
}
*/

.fill {
    background-image: url("http://source.unsplash.com/random/100x100");
    position: absolute;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    cursor: grab;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}

.invisible {
    display: none;
}

/* ----- */

.draggable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.dark {
    background-color: rgb(181, 136, 99);
    color: rgb(240, 217, 181);
    font-weight: 800;
}

tr td:first-child {
    position: relative;
}

tr td:first-child::before {
    content: attr(value);
    font-size: calc(var(--table-cell-side) / 7);
    top: calc(var(--table-cell-side) * 0.1);
    position: absolute;
    z-index: 2;
}

tr:last-child {
    position: relative;
}

tr:last-child td::after {
    content: attr(id);
    position: absolute;
    font-size: calc(var(--table-cell-side) / 7);
    top: calc(0.95 * var(--table-cell-side));
    margin-left: calc(0.88 * var(--table-cell-side));
    z-index: 2;
}

tr:last-child td:nth-child(7)::after {
    top: calc(0.92 * var(--table-cell-side));
}

td {
    width: var(--table-cell-side);
    height: var(--table-cell-side);
    margin: 0;
    outline: 1px solid blue;
}

h1 {
    color: rgb(219, 213, 213);
}
