/*
html {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}

body {
    margin: 0;
    background: rgb(45, 40, 62);
    display: flex;
    height: 100%;
}

#root,
#root > div {
    height: 100%;
    min-height: 100%;
    width: 100%;
}
*/

body {
    background-color: rgba(0, 0, 0, 0.274);
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
}

.container-header {
    width: 100%;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.63);
}

.container-title {
    border: 1px solid orange;
}

.container-board {
    border: 1px solid magenta;
    display: flex;
    justify-content: center;
}

.light {
    background-color: aliceblue;
    color: black;
}

.dark {
    background-color: black;
    color: aliceblue;
}

.board {
    border-spacing: 0;
    border-collapse: collapse;
    line-height: 0;
}

tr td:first-child {
    position: relative;
}

tr td:first-child::before {
    content: attr(value);
    font-size: calc(var(--table-width) / 6);
    margin-top: calc(var(--table-width) * -0.6);
    position: absolute;
}

tr:last-child {
    position: relative;
}

tr:last-child td::after {
    content: attr(id);
    position: absolute;
    font-size: calc(var(--table-height) / 6);
    margin-top: calc(var(--table-height) / 1.7);
    margin-left: calc(var(--table-height) * 1.3);
}

:root {
    --table-width: 4em;
    --table-height: 4em;
}

td {
    width: var(--table-width);
    height: var(--table-height);
    margin: 0;
}
p {
    position: relative;
    text-align: left;
    padding: 0;
    margin: 0;
    outline: 1px solid magenta;
}
h1 {
    color: rgb(219, 213, 213);
}
